.idea/
bower_components/
node_modules/
*.log
*.tmp

/lib/**/*.js.map

/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
!/src/typings.d.ts

/test/**/*.js
/test/**/*.js.map
/test/**/*.d.ts
!/test/typings.d.ts

